* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    ;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: black;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
}

.Title {
    font-size: 1.5rem;
    font-family: "Sixtyfour Convergence", sans-serif;
}

.Rules {
    display: none;
    font-size: 1rem;
    margin-top: 50px;
}


.Game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    width: 500px;
    height: 150px;
    background-color: rgb(32, 32, 32);
    box-shadow: 0 8px 20px 0 rgb(255, 0, 0, 0.7);
    border-radius: 20px;
}

.user-input-div {
    width: 450px;
    height: 50px;
    background-color: rgb(231, 231, 231);
    display: flex;
    justify-content: center;
    align-items: center;
}

#user-input {
    display: block;
    border-style: none;
    background-color: transparent;
    font-size: 2rem;
}

#user-input:focus {
    border-style: none;
    outline: none;
}

.Answer {
    display: none;
    color: black;
}

.loading {
    display: none;
    color: red;
}

.dot-1,
.dot-2,
.dot-3 {
    animation: load 1s ease-in-out infinite;
}

/* Add delays to stagger the bounce */
.dot-2 {
    animation-delay: 0.2s;
}

.dot-3 {
    animation-delay: 0.4s;
}

@keyframes load {

    0%,
    100% {
        transform: translateY(0);
    }

    35% {
        transform: translateY(-10px);
    }

    70% {
        transform: translateY(0);
    }
}



.ans-btn {
    margin: 20px 0px;
    height: 30px;
    width: 150px;
    font-size: 1rem;
    color: white;
    background-color: red;
    border-style: none;
}

.ans-btn:hover {
    background-color: rgb(130, 0, 0);
}